html {
    --pagefind-ui-scale: 1;
    --pagefind-ui-primary: #6366f1;
    --pagefind-ui-text: #0f172a;
    --pagefind-ui-background: #ffffff;
    --pagefind-ui-border: #e2e8f0;
    --pagefind-ui-tag: #f1f5f9;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: inherit;
}

html.dark {
    --pagefind-ui-primary: #FF16B0;
    --pagefind-ui-text: #F1F1F1;
    --pagefind-ui-background: #0D0F31;
    --pagefind-ui-border: rgba(255, 22, 176, 0.4);
    --pagefind-ui-tag: #1B1D4C;
}

.pf-searchbox,
.pagefind-ui__search-input,
.pagefind-ui__form {
    max-width: unset !important;
}