@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@variant dark (.dark &);

@layer utilities {
  .prose img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}