---
import PostsList from "../PostsList.astro";

---

<main class="container mt-5 m-auto">
    <!--         widths={[480, 768, 1024, 1440, 1920]}-->
    <!--         formats={['avif', 'webp', 'jpeg']}-->

    <PostsList featured={true}/>
</main>
