---
import PostsList from "../PostsList.astro";
---

<main class="container mt-5 m-auto">
    <!--<Picture src="https://ucarecdn.com/7f52c42e-103b-4ef9-b689-d08807ad2f7f/-/preview/1000x748/"-->
    <!--         widths={[480, 768, 1024, 1440, 1920]}-->
    <!--         formats={['avif', 'webp', 'jpeg']}-->
    <!--         alt="diff" inferSize={true}></Picture>-->

    <PostsList/>
</main>
