---

import BaseLayout from "../../layouts/BaseLayout.astro";---

<BaseLayout  pageTitle="Projects">
<article class="prose lg:prose-xl m-auto dark:prose-invert my-20">

    <h1>Projects</h1>

    <ul>
        <li>gpt cli</li>
        <li>cash</li>
        <li>lang</li>
        <li>ir</li>
        <li>maxdata</li>
        <li>up</li>
        <li>mrrbike</li>
        <li>alesprzedawca</li>
    </ul>

</article>
</BaseLayout>