---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "~/assets/about-astro.png";
import { getLocale } from "astro-i18n-aut";

const locale = getLocale(Astro.url);

const meta = {
	title: "About",
	description: "I am Rust, Node JS dev.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About me</h1>
		<p>I love coding at night and in the morning watch at sunrise over ocean.</p>

		<p>What I believe:</p>
		<ul class="list-inside list-disc">
			<li>Live is too short to duplicate code</li>
			<li>Every line is potential bug</li>
			<li>AI will kill us, but we can't change it</li>
			<li>Fortunately "Brain - Computer" interface will depreciate html adn css before</li>
			<li>I love Arch btw but can't install it now because of my Nvidia RTX 3060</li>
		</ul>

		<p>My fav animal is a cat... possessed by Schrodinger</p>

		<pre>{locale}</pre>
	</div>
</PageLayout>
