---
import {useTranslations} from "../../i18n/utils";
import SingleDesktopNavigationLink from "./links/SingleDesktopNavigationLink.astro";
const currentLocale = Astro.currentLocale as 'en' | 'pl' | 'es';

const links: Array<{
    path: string;
    name: string;
}> = [
    {path: '/', name: useTranslations(currentLocale)('nav.blog')},
    {path: '/notes', name: useTranslations(currentLocale)('nav.notes')},
    // {path: '/projects', name: 'Projects'},
    {path: '/contact', name: useTranslations(currentLocale)('nav.contact')}
]
---

<nav class="hidden lg:flex lg:space-x-8 lg:py-2" aria-label="Global">
    {links.map(link =>
            <SingleDesktopNavigationLink path={link.path} name={link.name}/>
    )}
</nav>