---
import {useTranslations} from "../../i18n/utils";
import SingleMobileNavigationLink from "./links/SingleMobileNavigationLink.astro";

const currentLocale = Astro.currentLocale as 'en' | 'pl' | 'es';

const links: Array<{
    path: string;
    name: string;
}> = [
    {path: '/', name: useTranslations(currentLocale)('nav.blog')},
    {path: '/notes', name: useTranslations(currentLocale)('nav.notes')},
    // {path: '/projects', name: 'Projects'},
    {path: '/contact', name: useTranslations(currentLocale)('nav.contact')}
]
---

<div class="space-y-1 px-2 pb-3 pt-2">
    {links.map(link =>
            <SingleMobileNavigationLink path={link.path} name={link.name}/>
    )}
</div>