---
import { getLocale } from "astro-i18n-aut";

const locale = getLocale(Astro.url) ?? "en";

import { locales } from "@/data/locales";
import { useTranslatedPath } from "../i18n/utils";

const translatePath = useTranslatedPath(locale);
---

<div class="ms-auto">
	<ul class="grid grid-cols-5 gap-2">
		{
			Object.values(locales).map((lang) => (
				<li class={`${locale === lang ? "text-accent" : ""}`}>
					<a href={translatePath("/", lang)}>{lang.toUpperCase()}</a>
				</li>
			))
		}
	</ul>
</div>

<style>
	ul {
		list-style: none;
	}
</style>
