---
import { locales } from "@/data/locales";
import { useTranslatedPath, getLocale } from "@/i18n/utils";
const currentPath = Astro.url.pathname;

const locale = getLocale();
const translatePath = useTranslatedPath(locale);

function isMultiLangPath(path) {
	return ["/about/", "/posts/"].includes(path);
}
---

<div class="ms-auto">
	<ul class="grid grid-cols-5 gap-2">
		{
			Object.values(locales).map((lang) => (
				<li class={`${locale === lang ? "text-accent" : ""}`}>
					<a href={translatePath(isMultiLangPath(currentPath) ? currentPath : "/", lang)}>
						{lang.toUpperCase()}
					</a>
				</li>
			))
		}
	</ul>
</div>

<style>
	ul {
		list-style: none;
	}
</style>
