---
import { getRelativeLocaleUrl } from 'astro:i18n';
import LangSwitch from "./LangSwitch.astro";

const locale = Astro.currentLocale ?? 'en';
---

<header class="container mt-4">
  <nav class="flex justify-between text-lg">
    <a href={getRelativeLocaleUrl(locale, '/')}>Daniel Gustaw</a>

    <LangSwitch/>
  </nav>

  <div id="search"></div>

</header>
