---
import { getRelativeLocaleUrl } from 'astro:i18n';
import LangSwitch from "./LangSwitch.astro";

const aboutURL = getRelativeLocaleUrl("es", "about");

const locale = Astro.currentLocale
---

<pre>{getRelativeLocaleUrl(locale, 'blog')}</pre>
<LangSwitch/>

<a href={getRelativeLocaleUrl(locale, '/')}>Home</a>
<a href={getRelativeLocaleUrl(locale, 'about')}>About</a>
<a href={getRelativeLocaleUrl(locale, 'blog')}>Blog</a>
