---
import {useTranslations} from "../../i18n/utils";
const currentLocale = Astro.currentLocale as 'en' | 'pl' | 'es';

import {getRelativeLocaleUrl} from 'astro:i18n';
---

<footer class="bg-white dark:bg-slate-900">
    <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
        <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
            <div class="pb-6">
                <a href={getRelativeLocaleUrl(currentLocale, '/')}
                   class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-500 dark:hover:text-gray-200">{useTranslations(currentLocale)('nav.blog')}</a>
            </div>
            <div class="pb-6">
                <a href={getRelativeLocaleUrl(currentLocale, '/notes')}
                   class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-500 dark:hover:text-gray-200">{useTranslations(currentLocale)('nav.notes')}</a>
            </div>
            <!--<div class="pb-6">-->
            <!--    <a href={getRelativeLocaleUrl(currentLocale, '/projects')} class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-500 dark:hover:text-gray-200">{ useTranslations(currentLocale)('nav.projects')}</a>-->
            <!--</div>-->
            <div class="pb-6">
                <a href={getRelativeLocaleUrl(currentLocale, '/contact')}
                   class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-500 dark:hover:text-gray-200">{useTranslations(currentLocale)('nav.contact')}</a>
            </div>
            <div class="pb-6">
                <a href="/sitemap.xml"
                   class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-500 dark:hover:text-gray-200">Sitemap</a>
            </div>
            <div class="pb-6">
                <a href="https://updown.io/p/fp5su"
                   class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-500 dark:hover:text-gray-200">Status</a>
            </div>
        </nav>
        <div class="mt-10 flex
        justify-center  flex-wrap">
            <a href="https://stackoverflow.com/users/6398044/daniel" class="text-gray-400 hover:text-gray-500 m-4">
                <span class="sr-only">Stack Overflow</span>
                <svg class="h-6 w-6" fill="currentColor" role="img" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg"><title>Stack Overflow</title>
                    <path d="M15.725 0l-1.72 1.277 6.39 8.588 1.716-1.277L15.725 0zm-3.94 3.418l-1.369 1.644 8.225 6.85 1.369-1.644-8.225-6.85zm-3.15 4.465l-.905 1.94 9.702 4.517.904-1.94-9.701-4.517zm-1.85 4.86l-.44 2.093 10.473 2.201.44-2.092-10.473-2.203zM1.89 15.47V24h19.19v-8.53h-2.133v6.397H4.021v-6.396H1.89zm4.265 2.133v2.13h10.66v-2.13H6.154Z"/>
                </svg>
            </a>
            <a href="https://github.com/gustawdaniel" class="text-gray-400 hover:text-gray-500  m-4">
                <span class="sr-only">GitHub</span>
                <svg class="h-6 w-6" fill="currentColor" role="img" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg"><title>GitHub</title>
                    <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
                </svg>
            </a>
            <a href="https://www.youtube.com/@DanielGustaw" class="text-gray-400 hover:text-gray-500  m-4">
                <span class="sr-only">YouTube</span>
                <svg class="h-6 w-6" fill="currentColor" role="img" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg"><title>YouTube</title>
                    <path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/>
                </svg>
            </a>
            <a href="https://x.com/_GustawDaniel" class="text-gray-400 hover:text-gray-500  m-4">
                <span class="sr-only">X</span>
                <svg class="h-6 w-6" fill="currentColor" role="img" viewBox="0 0 24 24" aria-hidden="true">
                    <title>X</title>
                    <path d="M13.6823 10.6218L20.2391 3H18.6854L12.9921 9.61788L8.44486 3H3.2002L10.0765 13.0074L3.2002 21H4.75404L10.7663 14.0113L15.5685 21H20.8131L13.6819 10.6218H13.6823ZM11.5541 13.0956L10.8574 12.0991L5.31391 4.16971H7.70053L12.1742 10.5689L12.8709 11.5655L18.6861 19.8835H16.2995L11.5541 13.096V13.0956Z"/>
                </svg>
            </a>
            <a href="https://www.hackerearth.com/@gustawdaniel" class="text-gray-400 hover:text-gray-500  m-4">
                <span class="sr-only">Hacker Earth</span>
                <svg class="h-6 w-6" fill="currentColor" role="img" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg"><title>HackerEarth</title>
                    <path d="M18.447 20.936H5.553V19.66h12.894zM20.973 0H9.511v6.51h.104c.986-1.276 2.206-1.4 3.538-1.306 1.967.117 3.89 1.346 4.017 5.169v7.322c0 .089-.05.177-.138.177h-2.29c-.09 0-.253-.082-.253-.177V10.6c0-1.783-.58-3.115-2.341-3.115-1.282 0-2.637.892-2.637 2.77v7.417c0 .089-.008.072-.102.072h-2.29c-.09 0-.29.022-.29-.072V0H3.178c-.843 0-1.581.673-1.581 1.515v20.996c0 .843.738 1.489 1.58 1.489h17.797c.843 0 1.431-.646 1.431-1.489V1.515c0-.842-.588-1.515-1.43-1.515"/>
                </svg>
            </a>
            <a href="https://www.codingame.com/profile/d207bc0b4ddd727b4e35e2914e5036a47567825"
               class="text-gray-400 hover:text-gray-500  m-4">
                <span class="sr-only">CodinGame</span>
                <svg class="h-6 w-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="600" height="600"
                     viewBox="0 0 600 600">
                    <title>CodinGame</title>
                    <path id="_1" data-name="1"
                          d="M443.059 200.761q-.969 0-1.946-.042c-24.007-1.03-42.824-20.823-42.027-44.206.774-22.752 19.826-40.524 42.965-40.525.646 0 1.293.014 1.945.042 24.007 1.024 42.823 20.817 42.029 44.205-.775 22.753-19.827 40.526-42.966 40.526M300 0C134.314 0 0 134.315 0 300a298.7 298.7 0 0 0 33.51 137.885c70.114-10.566 189.328-42.824 197.655-140.293 1.485-59.826 53.191-91.949 96.884-91.949 32.124 0 59.913 17.351 60.251 53.814 2.728 78.489-63.982 75.851-139.8 114.954-87.689 56-94.436 114.227-83.7 175.5 1.392 7.658 3.284 15.1 7.91 21.8A298.815 298.815 0 0 0 300 600c165.685 0 300-134.314 300-300S465.685 0 300 0"
                          style="fill:currentColor;fill-rule:evenodd"/>
                </svg>
            </a>

            <a href="https://www.geeksforgeeks.org/user/gustawdaniel/" class="text-gray-400 hover:text-gray-500  m-4">
                <span class="sr-only">Geeks for Geeks</span>
                <svg class="h-6 w-6" fill="currentColor" role="img" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg"><title>GeeksforGeeks</title>
                    <path d="M21.45 14.315c-.143.28-.334.532-.565.745a3.691 3.691 0 0 1-1.104.695 4.51 4.51 0 0 1-3.116-.016 3.79 3.79 0 0 1-2.135-2.078 3.571 3.571 0 0 1-.13-.353h7.418a4.26 4.26 0 0 1-.368 1.008zm-11.99-.654a3.793 3.793 0 0 1-2.134 2.078 4.51 4.51 0 0 1-3.117.016 3.7 3.7 0 0 1-1.104-.695 2.652 2.652 0 0 1-.564-.745 4.221 4.221 0 0 1-.368-1.006H9.59c-.038.12-.08.238-.13.352zm14.501-1.758a3.849 3.849 0 0 0-.082-.475l-9.634-.008a3.932 3.932 0 0 1 1.143-2.348c.363-.35.79-.625 1.26-.809a3.97 3.97 0 0 1 4.484.957l1.521-1.49a5.7 5.7 0 0 0-1.922-1.357 6.283 6.283 0 0 0-2.544-.49 6.35 6.35 0 0 0-2.405.457 6.007 6.007 0 0 0-1.963 1.276 6.142 6.142 0 0 0-1.325 1.94 5.862 5.862 0 0 0-.466 1.864h-.063a5.857 5.857 0 0 0-.467-1.865 6.13 6.13 0 0 0-1.325-1.939A6 6 0 0 0 8.21 6.34a6.698 6.698 0 0 0-4.949.031A5.708 5.708 0 0 0 1.34 7.73l1.52 1.49a4.166 4.166 0 0 1 4.484-.958c.47.184.898.46 1.26.81.368.36.66.792.859 1.268.146.344.242.708.285 1.08l-9.635.008A4.714 4.714 0 0 0 0 12.457a6.493 6.493 0 0 0 .345 2.127 4.927 4.927 0 0 0 1.08 1.783c.528.56 1.17 1 1.88 1.293a6.454 6.454 0 0 0 2.504.457c.824.005 1.64-.15 2.404-.457a5.986 5.986 0 0 0 1.964-1.277 6.116 6.116 0 0 0 1.686-3.076h.273a6.13 6.13 0 0 0 1.686 3.077 5.99 5.99 0 0 0 1.964 1.276 6.345 6.345 0 0 0 2.405.457 6.45 6.45 0 0 0 2.502-.457 5.42 5.42 0 0 0 1.882-1.293 4.928 4.928 0 0 0 1.08-1.783A6.52 6.52 0 0 0 24 12.457a4.757 4.757 0 0 0-.039-.554z"/>
                </svg>
            </a>

            <a href="https://www.khanacademy.org/profile/gustawdaniel" class="text-gray-400 hover:text-gray-500  m-4">
                <span class="sr-only">Khan Academy</span>
                <svg class="h-6 w-6" fill="currentColor" role="img" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg"><title>Khan Academy</title>
                    <path d="M21.724 4.973L13.418.328a3.214 3.214 0 0 0-2.828 0L2.276 4.973A3.05 3.05 0 0 0 .862 7.371v9.256a3.05 3.05 0 0 0 1.414 2.4l8.306 4.645a3.214 3.214 0 0 0 2.828 0l8.314-4.645a3.05 3.05 0 0 0 1.414-2.4V7.373a3.05 3.05 0 0 0-1.414-2.4zM12 4.921a2.571 2.571 0 1 1 .001 5.143A2.571 2.571 0 0 1 12 4.92zm3.094 13.627a9.119 9.119 0 0 1-3.103.549 8.972 8.972 0 0 1-3.076-.55 8.493 8.493 0 0 1-5.486-7.987v-.857c4.646.017 8.074 3.823 8.074 8.51v.198h.926v-.197c0-4.688 3.445-8.51 8.056-8.51.026.29.043.582.086.856a8.502 8.502 0 0 1-5.477 7.988z"/>
                </svg>
            </a>

            <a href="https://www.freecodecamp.org/gustawdaniel" class="text-gray-400 hover:text-gray-500  m-4">
                <span class="sr-only">FreeCodeCamp</span>
                <svg class="h-6 w-6" fill="currentColor" role="img" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg"><title>freeCodeCamp</title>
                    <path d="M19.885 3.906a.621.621 0 00-.354.12c-.08.08-.161.196-.161.313 0 .2.236.474.673.923 1.822 1.754 2.738 3.903 2.732 6.494-.007 2.867-.97 5.17-2.844 6.954-.394.353-.556.63-.557.867 0 .116.08.237.16.353.076.08.237.162.353.162.434 0 1.04-.512 1.833-1.509 1.542-1.89 2.24-3.978 2.279-6.824.036-2.847-.857-4.777-2.603-6.77-.63-.712-1.153-1.082-1.511-1.083zm-15.769.002c-.358 0-.882.37-1.51 1.083C.858 6.984-.035 8.914.001 11.761c.04 2.846.737 4.933 2.28 6.824.791.997 1.398 1.51 1.832 1.509a.573.573 0 00.352-.162c.08-.116.16-.237.16-.353 0-.237-.162-.514-.556-.866-1.873-1.785-2.837-4.087-2.844-6.955-.006-2.591.91-4.74 2.732-6.494.437-.449.674-.722.673-.923 0-.117-.08-.233-.161-.313a.621.621 0 00-.354-.12zm7.056.895s.655 2.081-2.649 6.727c-3.156 4.433 1.045 7.15 1.432 7.386-.281-.18-2.001-1.5.402-5.423.466-.77 1.076-1.47 1.834-3.041 0 0 .67.946.32 2.998-.523 3.101 2.271 2.214 2.314 2.257.976 1.15-.808 3.17-.917 3.233-.108.061 5.096-3.13 1.399-7.935-.253.253-.582 1.442-1.267 1.266-.684-.174 2.125-3.494-2.868-7.468zM9.955 18.916c.023.016.038.024.038.024l-.038-.024z"/>
                </svg>
            </a>

        </div>
        <p class="mt-10 text-center text-xs leading-5 text-gray-500">&copy; <span
                x-text="new Date().getFullYear()"></span> Daniel Gustaw. All rights reserved.</p>
    </div>
</footer>
