---

---

<div class="fixed inset-0 z-50 hidden"
     id="search-dialog" role="dialog" tabindex="-1" aria-modal="true"
     data-headlessui-state="open" data-open="">
    <div class="fixed inset-0 bg-white/50 backdrop-blur-2xl"></div>
    <div class="fixed inset-0 overflow-y-auto px-4 py-4 sm:px-6 sm:py-6 md:py-8 lg:px-8
    lg:py-[5vh]">
        <div id="search"></div>
    </div>
</div>

<script lang="ts">
    (() => {
        const sd = document.querySelector('#search-dialog');
        const search = document.querySelector('#search');
        console.log('sd', sd);

        if (sd) {
            sd.addEventListener('click', () => {
                const input = search.querySelector('input');
                console.log('input', input);
                input.value = '';
                sd.classList.add('hidden')
            });
        }

        search.addEventListener('click', (event) => {
            if(event.target.classList.contains('pagefind-ui__result-link')) {
                const input = search.querySelector('input');
                console.log('input', input);
                input.value = '';
                sd.classList.add('hidden')
            }
            event.stopPropagation()
        });

        //

        document.addEventListener('keydown', (event) => {
            console.log('e', event.key);
            if (event.key === 'Escape') {
                const input = search.querySelector('input');
                console.log('input', input);
                input.value = '';
                sd.classList.add('hidden')
            }
        })
    })()
</script>