---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostsList from "../../components/PostsList.astro";
---

<BaseLayout  pageTitle="Blog">
<h1>My Astro Learning Blog [ES]</h1>
<p>This is where I will post about my journey learning Astro.</p>
<PostsList/>
</BaseLayout>
