---
import Navigation from "../components/Navigation.astro";

interface Props {
    pageTitle: string;
    description?: string;
    ogImage?: string;
}

const {pageTitle, description, ogImage} = Astro.props;
const locale = Astro.currentLocale ?? 'en';

import '../styles/tailwind.css'
import '../styles/pagefind.css'
import '../styles/alpine.css'
import '../styles/shiki.css'
import BaseLayoutHead from "../components/layout/BaseLayoutHead.astro";
import BaseFooter from "../components/footer/BaseFooter.astro";
// window?.matchMedia?.('(prefers-color-scheme:dark)')?.matches

---
<!doctype html>
<html lang={locale}
      x-data="{ darkMode: localStorage.getItem('theme') || (localStorage.setItem('theme', 'system') || 'system')}"
      x-init="$watch('darkMode', val => localStorage.setItem('theme', val))"
      x-bind:class="{'dark': darkMode === 'dark' || (darkMode === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)}"
>
<BaseLayoutHead
        title={`Daniel Gustaw${pageTitle ? (' - ' + pageTitle) : ''}`}
        description={description ?? "Daniel Gustaw's personal blog"}
        ogImage={ogImage ?? 'http://localhost:8484/411d6d7d-6a1e-4096-9a88-fc16a9978f2e.avif'}
/>
<body class="dark:bg-slate-900">
<Navigation/>

<slot/>

<BaseFooter/>

<!--<script>-->
<!--    // @ts-ignore PagefindUI is global-->
<!--    window.addEventListener('DOMContentLoaded', (_event) => {-->
<!--        // @ts-ignore PagefindUI is global-->
<!--        new PagefindUI({element: "#search", showSubResults: true, autofocus: true});-->
<!--    });-->
<!--</script>-->
</body>
</html>
