---
import Navigation from "../components/Navigation.astro";
const { pageTitle } = Astro.props;

import '../styles/tailwind.css'
---
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width" />
  <title>Astro{pageTitle ? ' - ' + pageTitle : ''}</title>
  <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css" />
</head>
<body>
<Navigation/>
<slot/>
</body>
</html>
