---
import Navigation from "../components/Navigation.astro";
const { pageTitle } = Astro.props;
---
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width" />
  <title>Astro{pageTitle ? ' - ' + pageTitle : ''}</title>
</head>
<body>
<Navigation/>
<slot/>
</body>
</html>
