---
import Navigation from "../components/Navigation.astro";
const {pageTitle} = Astro.props;

import '../styles/tailwind.css'
import '../styles/pagefind.css'
import '../styles/alpine.css'
import '../styles/shiki.css'
// window?.matchMedia?.('(prefers-color-scheme:dark)')?.matches

---
<html lang="en"
      x-data="{ darkMode: localStorage.getItem('theme') || (localStorage.setItem('theme', 'system') || 'system')}"
      x-init="$watch('darkMode', val => localStorage.setItem('theme', val))"
      x-bind:class="{'dark': darkMode === 'dark' || (darkMode === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)}"
>
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Astro{pageTitle ? ' - ' + pageTitle : ''}</title>
    <!--<link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css" />-->

    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script is:inline src="/pagefind/pagefind-ui.js"></script>
</head>
<body class="dark:bg-slate-900">
<Navigation/>

<slot/>

<script>
    // @ts-ignore PagefindUI is global
    window.addEventListener('DOMContentLoaded', (_event) => {
        console.log("ok");
        console.log(document.querySelector("#search"));

        // @ts-ignore PagefindUI is global
        new PagefindUI({element: "#search", showSubResults: true, autofocus: true});
    });
</script>
</body>
</html>
